<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>CLAIM GENERATOR</title>
	<script>
		var sendDemoSms = function() {
			var number = $('#inputNumber').value;
			$.ajax({
				type: 'POST',
				url: './api/v1/smartcrash/crash',
				contentType: 'application/json',
				data: '{"crash":"true", "number":number}',
				dataType: 'json'
				success: function(msg) {
					console.log(msg);
				},
				error: function(errormessage) {
					console.log(errormessage);
				}
			});
		};
	</script>
</head>

<body>
	<br />
	<div class="container">
		<form class="form-horizontal" action="#" onsubmit="return sendDemoSms();">
			<div class="col-md-12">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Car2Claim Dashboard</a>
					</div>
					<div>
						<p class="navbar-text navbar-right" style="margin-right:10%">
							Signed In: Barrett
						</p>
					</div>
				</nav>
			</div>
			<br />
			<div class="col-md-12 well well-lg" style="background-color: #E5DB97;">
				<div style="background-color: #EEEEEE; padding : 10px;max-width:100%; max-height:100%;">
					<a href="http://i.imgur.com/ZuVTzbT.png"> <img src="http://i.imgur.com/ZuVTzbT.png" title="source:imgur.com"></a>
				</div>
				<br>
			</div>
			<div class="input-group" style="padding-bottom:20px">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-envelope"></i>
				</span>
				<input type="text" class="form-control" name="number" id="inputNumber" placeholder="Number For Example Text" value="8502284585">
			</div>
			<input type="submit" value="Send Example SMS" />
	</div>
	</form>
	<br />
	<div class="col-md-12 well well-lg" style="background-color: #E5DB97;">
		<form action="/dashboard">
			<input type="submit" value="Display Dashboard" />
		</form>
	</div>
	</div>
</body>

</html>
